#numpy
#torch
numpy==1.23.5
scipy==1.9
typing-extensions==4.3.0
pillow==8.3.2
#Cython==3.0.0a10
cython<3
gym==0.17.2
mo-gymnasium[all]
mujoco-py
#gym
tensorboard
#visdom
opencv_python
git+https://github.com/fossasia/visdom
git+https://github.com/ku2482/rltorch
stable_baselines3==1.2.0
seaborn
d4rl==1.1
#torch>=1.11.0+cu111
#pytorch-lightning==1.8
pytorch-transformers
protobuf==3.19.4
wandb
configargparse

